<footer>
    <hr>
    <a href="https://github.com/kyleegordon">GitHub</a> &#9653;
    <a href="https://kyleegordon.github.io">GitHub IO</a> &#9653;
    <a href="https://kyleegordon.github.io/web250/">GitHub Table of Contents</a> &#9653;
    <a href="https://www.freecodecamp.org/kyleegordon">FreeCodeCamp</a> &#9653;
    <a href="https://www.codecademy.com/profiles/kyleegordon">Codecademy</a> &#9653;
    <a href="https://jsfiddle.net/user/kyleegordon/fiddles/">JSFiddle</a> &#9653;
    <a href="https://www.linkedin.com/in/kylee-gordon-060612181/">LinkedIn</a> 
    <p>Page built by Gordon Designs<p>
</footer>