<div class="row text-center navbar fixed-bottom">
    <div class="col-sm-12">
        <footer>
            <a href="https://github.com/kyleegordon">GitHub</a> &#9653;
            <a href="https://www.freecodecamp.org/kyleegordon">FreeCodeCamp</a> &#9653;
            <a href="https://www.codecademy.com/profiles/kyleegordon">Codecademy</a> &#9653;
            <a href="https://jsfiddle.net/user/kyleegordon/fiddles/">JSFiddle</a> &#9653;
            <a href="https://www.linkedin.com/in/kylee-gordon-060612181/">LinkedIn</a> 
            <p>Page built by Gordon Designs<p>
            <a href="https://validator.w3.org/check?uri=" id="validate_html">Validate HTML</a>
            &#9653;
            <a href="https://jigsaw.w3.org/css-validator/check/referer?uri=" id="validate_css">Validate CSS</a>
        
            <script>
                document.getElementById("validate_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
                document.getElementById("validate_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
            </script>
        </footer>
    </div>
</div>