<header class="fixed-top">
    <div class="row dflex justify-content-end align-items-end h3">
        <!-- <div class="col-4">
            Kylee Gordon <br>
            WEB 250
        </div>

        <div class="col-3">
            Empty space for header layout
         </div> -->

        <!-- insert nav links below -->
        <div class="col-auto nav-link">
            <a href="https://kyleegordon.github.io/web250/">Home</a>
        </div>

        <div class="col-auto nav-link">
            About
        </div>

        <div class="col-auto nav-link">
            Contract
        </div>

    </div>
</header>



