<header>
    <div class="row">
        <div class="col-4">
            Kylee Gordon - WEB 250
        </div>

        <div class="col-4">
            <!-- Empty space for header layout -->
        </div>

        <!-- insert nav links below -->
        <div class="col-1 nav-link">
            <a href="https://kyleegordon.github.io/web250/">Home</a>
        </div>

        <div class="col-1 nav-link">
            About
        </div>

        <div class="col-1 nav-link">
            Contract
        </div>
    </div>
</header>



