<header class="fixed-top">
  <div class="row dflex navbar py-0 h2" id="header_nav">
    <div class="col-10" id="logo">
      <a href="index.html"> <i class="fas fa-paw"></i>Pawsitively Posh </a>
      <p
        id="tagline"
        style="color: rgba(194, 240, 242, 0.9); font-size: 0.85rem"
      >
        <i>Functional fashion for the modern dog</i>
      </p>
    </div>
    <div class="col-1 nav-link ms-auto h1">
      <a href="index.html"><i class="fas fa-home"></i></a>
    </div>
  </div>
</header>
