html{
  /* image credit: Peter Gargiulo, unsplash.com */
  background-image: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header
{
    font-variant: small-caps;
    background-color: aquamarine;
    height: 5vh;
    size: 3em;
}

.nav-link
{
  
}

footer
{
    font-variant: small-caps;
}

.row 
{
    border: 3px solid blue;
    background-color: rgba(0,0,0,0.0)
}


/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: red;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    text-decoration: none;
  }
  